body {
  margin: 0;
  font-family: Arial, sans-serif;

  background-image: url("Pildid/Backround1.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* scrollimiseks */
}

/* Lisas Armin */
body {
    cursor: url("Pildid/cursor/Card_Normal.cur"), auto;
}

body::before {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.35);
  z-index: 0;
  pointer-events: none;
}

.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 24px;
}

.card {
  background: rgba(255,255,255,0.85);
  backdrop-filter: blur(6px);
  padding: 24px;
  max-width: 900px;
  border-radius: 16px;
  box-shadow: 0 8px 30px rgba(0,0,0,0.15);
}

header {
  border-bottom: 1px solid #fbf8f8;
  padding-bottom: 8px;
  margin-bottom: 16px;
  text-transform: uppercase;
  font-size: 12px;
}
/* ülemise menu joondus */
.top-menu {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.top-menu form {
  margin: 0;
}
/* menu nuppu surused värv jm */
.menu-btn {
  padding: 10px 20px;
  border: 2px solid #444;
  border-radius: 6px;
  background: white;
  font-size: 16px;
}
/* hõljumis lisa */
.menu-btn:hover {
  background: #f1f1f1;
}

/* Armini lisatud - ei lase teksti valida */
* {
  user-select: none;
}